html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Terumo BCT Regular";
    font-size: 20px;
    min-width: 1072px;
}

.terumo {
    color: #099a44;
}

hr {
    border-color: #ccc;
}

button {
    transition: all .125s;
}


/*blackout and prompt*/

.blackout {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all .25s;
    z-index: 10000;
}

.blackoutShow {
    visibility: visible;
    opacity: 1;
}

.prompt {
    background: #f5f5f5;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    box-shadow: 0 0 9px #888;
}

.promptButtons {
    width: 175px;
}

.promptButtons button {
    margin: 0 0 0 5%;
}

.inner {
    padding: 5%;
}

.promptInput {
    margin-top: 10px;
}


/*close group*/

.closeGroup {
    color: #888;
    cursor: pointer;
}

.closeGroup:hover {
    color: #555;
}


/*Header*/

.header {
    height: 75px;
    background: #009a44;
}

.header span {
    font-size: 48px;
    color: #fff;
    font-family: "Terumo BCT Thin";
    line-height: 75px;
    margin-left: 2.5%;
}

.header img {
    height: 25px;
    position: absolute;
    right: 2.5%;
    top: 25px;
}


/*wrapper*/

.wrapper {
    margin: 2.5%;
    background: #eceded;
    min-height: calc(100% - 75px);
}

.innerWrapper {
    padding: 2.5%;
}


/*add/submit buttons*/

.addSubmit {
    font-size: 1.25em;
    border: 0 none;
    box-shadow: none;
    margin-left: 10px;
}

.btn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn {
    border-radius: 0;
}


/*items*/

.item {
    background: #fff;
    border: 1px solid #099a44;
    margin-bottom: 10px;
    padding: 6px 12px;
    width: 100%;
    cursor: grab;
    cursor: -webkit-grab;
}

.itemList,
.groupList {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.icon {
    width: 30px;
    float: left;
}

.info {
    margin-left: 30px;
}


/*item search*/

.itemSearch {
    width: 400px;
    display: inline;
    height: 50px;
    font-size: inherit;
}


/*groups*/

.groups {
    padding: 5px;
}

.groupItemList {
    margin-left: 10px;
}

.groupItem {
    background: #fff;
    border: 1px solid #099a44;
    margin-bottom: 10px;
    padding: 6px 12px;
    width: 100%;
}

.group {
    width: 100%;
    background: #fff;
    padding: 2.5%;
    border: 1px dashed #888;
    margin-bottom: 2.5%;
}

.groupList {
    float: right;
}

.delGroup {
    cursor: pointer;
    color: #d43f3a;
}

.delGroup:hover {
    color: #ac2925;
}