<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<form id="emf-form" target="_self" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/y4v05ftYS3D">
    <table style="text-align:left;" cellpadding="2" cellspacing="0" border="0" bgcolor="#FFFFFF">
        <tr>
            <td style="" colspan="2">
                <font face="Verdana" size="2" color="#000000"><b style="font-size:20px;">Product Grouping Survey</b><br /><label style="font-size:15px;">This is your form description. Click here to edit.<br /></label><br /></font>
            </td>
        </tr>
        <tr valign="top">
            <td id="td_element_label_0" style="" align=""><font face="Verdana" size="2" color="#000000"><b>Paragraph Text</b></font>
                <span style="color:red;"><small></small></span>
            </td>
        </tr>
        <tr>
            <td id="td_element_field_0" style="">
                <textarea id="element_0" name="element_0" cols="45" rows="10" class="validate[optional] "></textarea>
                <div style="padding-bottom:8px;color:#000000;"><small><font face="Verdana"></font></small></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input name="element_counts" value="1" type="hidden" />
                <input name="embed" value="forms" type="hidden" />
                <input value="Submit" type="submit" />
            </td>
        </tr>
    </table>
</form>