<html>

<head>
    <title>Customer Solutions Survey</title>

    <!--Local CSS-->
    <link rel="stylesheet" href="vendor/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="app.css">

</head>

<body ng-app="pgs" ng-controller="itemController">
    <div class="blackout" ng-class="{blackoutShow:showPrompt}">
        <div class="prompt">
            <div class="inner">
                <i class="fa fa-times pull-right closeGroup" ng-click="showPrompt=false"></i>
                <br>
                <span>Create Customer Segment</span>
                <input type="text" ng-model="groupName" class="form-control promptInput" enter>
                <br>
                <button class="btn btn-success" ng-click="addGroup()"><i class="fa fa-plus"></i> ADD</button>
                <hr>
                <div class="groups">
                    <div ng-repeat="(k,v) in groupObj"><i ng-click="removeGroup(k)" class="fa fa-times-circle delGroup"></i> {{k}}</div>
                </div>
                <br>
                <button class="btn btn-primary pull-right" ng-click="showPrompt=false">DONE <i class="fa fa-arrow-right"></i></button>
                <br>
            </div>
        </div>
    </div>
    <div class="header">
        <span>CUSTOMER SOLUTIONS SURVEY</span>
        <img src="assets/img/terumo-nav-logo.png">
    </div>
    <div class="wrapper">
        <div class="innerWrapper">
            <input type="text" class="form-control itemSearch" ng-model="searchText" placeholder="Search for a product...">
            <div class="btnGroup pull-right">
                <button class="btn btn-success addSubmit" ng-click="editGroups()"><i class="fa fa-pencil-square-o"></i> EDIT GROUPS</button>
                <button class="btn btn-primary addSubmit" ng-click="submit()">SUBMIT <i class="fa fa-arrow-right"></i></button>
            </div>
            <br>
            <br>
            <hr>
            <div class="itemList">
                <div class="item" ng-repeat="i in items | filter:searchText" draggable="true" item>
                    <div class="icon">
                        <i class="fa fa-ellipsis-v terumo"></i>
                    </div>
                    <div class="info" ng-bind-html="escape(i)">
                    </div>
                </div>
            </div>
            <div class="groupList">
                <div class="group" ng-repeat="(k,v) in groupObj" addtogroup>
                    <span class="groupTitle terumo">{{k}}</span>
                    <hr>
                    <div class="groupItemList">
                        <div class="groupItem" ng-repeat="i in v.items"><i ng-click="removeItem(k,i)" class="fa fa-times-circle delGroup"></i> {{i}}</div>
                    </div>
                </div>
                <pre>{{groupObj}}</pre>
            </div>
        </div>
    </div>
    <div style="height:1px;overflow:hidden;">
        <form id="emf-form" target="_self" enctype="multipart/form-data" method="post" action="https://www.emailmeform.com/builder/form/y4v05ftYS3D">
            <table style="text-align:left;" cellpadding="2" cellspacing="0" border="0" bgcolor="#FFFFFF">
                <tr>
                    <td style="" colspan="2">
                        <font face="Verdana" size="2" color="#000000"><b style="font-size:20px;">Product Grouping Survey</b><br /><label style="font-size:15px;">This is your form description. Click here to edit.<br /></label><br /></font>
                    </td>
                </tr>
                <tr valign="top">
                    <td id="td_element_label_0" style="" align=""><font face="Verdana" size="2" color="#000000"><b>Paragraph Text</b></font>
                        <span style="color:red;"><small></small></span>
                    </td>
                </tr>
                <tr>
                    <td id="td_element_field_0" style="">
                        <textarea id="element_0" name="element_0" cols="45" rows="10" class="validate[optional] "></textarea>
                        <div style="padding-bottom:8px;color:#000000;"><small><font face="Verdana"></font></small></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <input name="element_counts" value="1" type="hidden" />
                        <input name="embed" value="forms" type="hidden" />
                        <input value="Submit" type="submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>

<!--Angular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<!--Local App-->
<script src="app.js"></script>

<!--Directives-->
<script src="directives.js"></script>


</html>